@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #03A3B5;
  --accent: #FF925C;
  --success: #74D282;

  --bg-light: #F9FEFF;
  --bg-warm: #FFF3EE;
  --bg-success-light: #EBF9ED;

  --white: #FFFFFF;
  --dark: #001214;

  --border-radius-primary: 50px;

}

@font-face {
  font-family: 'Clemente';
  src: url('/fonts/ClementePDaj-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clemente';
  src: url('/fonts/ClementePDam-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Clemente';
  src: url('/fonts/ClementePDaq-UltraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Clemente-mini';
  src: url('/fonts/ClementePDag-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clemente-pdap';
  src: url('/fonts/ClementePDap-HeavyItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Clemente-pdak';
  src: url('/fonts/ClementePDak-SemiBold.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Clemente-pdai';
  src: url('/fonts/ClementePDai-Regular.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Clemente-pdam';
  src: url('/fonts/ClementePDam-Bold.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}